* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    gap: 1rem;
}

#display-container {
    width: 100%;
    display: flex;
    border: 0.25rem solid grey;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#right-buttons-container {
    width: 20%;
}

button {
    padding: 0.5rem 1rem;
}

#ce {
    padding: 0.25rem;
}

#display-text {
    border: black solid 0.25rem;
    width: 100%;
    text-align: right;
}