
/*CUSTOM COLORS*/

:root {
    --purple: hsl(263, 86%, 42%);
    --violet: hsl(280deg 76.6% 73.6%);
    --violet-highlight: hsl(280, 82%, 89%);
    --green-highlight: hsl(115, 72%, 63%);
    --green: hsl(118, 80%, 44%);
    --bright-green: hsl(109, 43%, 36%);
    --blue-highlight: hsl(192, 83%, 84%);
    --blue: hsl(204, 88%, 75%);
    --bright-blue: hsl(192, 96%, 49%);
    --light-yellow: hsl(59, 93%, 74%);
    --orange-highlight: hsl(30, 81%, 86%);
    --light-orange: hsl(29, 82.8%, 65.9%);
    --bright-orange-highlight: hsl(25, 97%, 61%);
    --bright-orange:  hsl(19, 98%, 50%);
    --red-highlight: hsl(6, 76%, 65%);
    --red: hsl(6, 74%, 49%);
}

/*color classes*/

.purple {
    background-color: var(--purple);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.light-yellow {
    background-color: var(--light-yellow);
}

.orange {
    background-color: var(--bright-orange);
}

.violet {
    background-color: var(--violet);
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;s
}

html {
    font-size: 10px;
    font-size: clamp(10px, 1vw + 0.5rem, 16px);
    background: linear-gradient(45deg, rgb(174, 182, 228), rgb(247, 255, 222));
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 1rem;
}

.medium {
    font-size: 2.5rem;
}

.large {
    font-size: 4rem;
}

.x-large {
    font-size: 4.5rem;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem 1rem 4rem 1rem;
    width: 40rem;
    height: 50rem;
    gap: 1rem;
    margin: 1.5rem auto;
}

/*DISPLAY CONTAINER STYLES*/

#display-container {
    width: 91%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border: var(--purple) solid 0.25rem;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: right;
    outline: 0.5rem solid var(--light-yellow);
}

#current-display,
#previous-expression-display {
    overflow: hidden;

}

/*MIDDLE CONTAINER STYLES- for name and clear buttons*/

#middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
}

#name {
    color: white;
    font-family: "Sofia", sans-serif;
    /* text-align: center; */
    margin-left: 1.5rem;
}

#top-buttons-container {
    display: flex;
    border-radius: 1rem;
    gap: 0.5rem;
    padding: 1rem;
    margin-bottom: -0.5rem;
}

/*BUTTON CONTAINERS AND BUTTON STYLES*/



#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
}

#left-buttons-container {
    width: 65%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.row {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#right-buttons-container {
    width: 25%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
}


button {
    border: 0.25rem solid var(--purple);
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 2;
    overflow: hidden;
    
}

.circle-button {
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;

}

.double-size {
    flex: 0 2 auto;
    border-radius: 4rem;
    width: 14rem;
    height: 5.75rem;
}

#ac-button, 
#ce-button {
    border: 0.25rem solid var(--bright-orange);
    width: 5rem;
    height: 5rem;
}


//================================================
/*SHADING STYLES*/
//=================================================

/*BEFORE BUTTON STYLES*/

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circle-button::before {
    border-radius: 50%;
}

.blue::before {
    background-color: var(--blue-highlight);
}

.green::before {
    background-color: var(--green-highlight);
  }

.orange::before {
    background-color: var(--orange-highlight);
  }

.violet::before {
    background-color: var(--violet-highlight);
}

.double-size::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
  /*AFTER BUTTON STYLES FOR THE CRESENT EFFECT */

button::after {
content: '';
position: absolute;
top: 0.5rem;
width: 100%;
height: 95%;
z-index: -1;
}

.circle-button::after {
left: 0.15rem;
border-radius:  50% 60% 0% 60%;
transform: rotate(-70deg);

}

.green::after {
background-color: var(--green);
}

.blue::after {
background-color: var(--blue);
}



.orange::after {
/* left: 0.5rem; */
background-color: var(--light-orange);
/* border-radius: 1rem 0 0 1rem; */
}

.violet::after {
    background-color: var(--violet);
}

.double-size::after {
    left: 0.15rem;
    border-radius:  50% 60% 0% 60%;
    content: '';
    position: absolute;
    top: 0.5rem;
    width: 100%;
    height: 95%;
    z-index: -1;
    flex: 0 2 auto;
    border-radius: 4rem;
    width: 14rem;
    /* transform: rotate(-1deg); */
}



/*HOVER STYLES*/


/*BEFORE HOVER STYLES*/


.blue:hover::before,
.violet:hover::before {
    background-color: var(--bright-orange-highlight);
}

.orange:hover::before {
    background-color: var(--red-highlight);
}


/*AFTER HOVER STYLES*/


.blue:hover::after,
.violet:hover::after {
    background-color: var(--bright-orange);
}

.orange:hover::after {
    background-color: var(--red);
}


/*ACTIVE STYLES*/

button:active {
    transform: translateY(0.25rem);
    /* 4px */

}

/*ACTIVE BEFORE STYLES*/

.orange:active::before {
    background-color: var(--orange-highlight);
  }

.blue:active::before {
    background-color: var(--blue-highlight);
}

.violet:active::before {
    background-color: var(--violet-highlight);
}



/*ACTIVE AFTER STYLES*/
.blue:active::after {
    background-color: var(--blue);
}


.orange:active::after {
    background-color: var(--light-orange);
}

.violet:active::after {
    background-color: var(--violet);
}


/*FOCUS STYLES*/

.green:focus::after {
    background-color: var(--bright-orange);
}

.green:focus::before {
    background-color: var(--bright-orange-highlight);
}